N8N/spam-ham-n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -96
      ],
      "id": "cc55c1b0-49cc-4680-bc30-633092ad7de0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LxGsXkXMV5oFA1kn",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_NGROK_URL/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.Subject }} {{ $json.snippet }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "2a0dbe5e-806b-4b36-98f7-0ae977f673cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff6b2de5-d80c-424f-b35b-fd1814666901",
              "leftValue": "={{ $('HTTP Request').item.json.prediction }}",
              "rightValue": "SPAM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "726aadc4-0434-4b2f-b669-ed6a7fd972be",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "ab042d8c-08ee-4a86-8cf2-212e186fc802",
      "name": "Add label to message",
      "webhookId": "f054f6c3-9e33-490f-85d0-f01f1723929f",
      "credentials": {
        "gmailOAuth2": {
          "id": "LxGsXkXMV5oFA1kn",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dcf0a06c-a106-4b31-9ef4-1be5145097b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d5170d9db8aaf6a672331de2443f80085a781e70ff6cfd49f3b4df2a0b7e097"
  },
  "nodeGroups": [],
  "id": "8DWemzcmQKN9PaQH",
  "tags": []
}
